includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	ignoreErrors:
		- '#Unsafe usage of new static\(\).#'
		- '#Static call to instance method AdgoalCommon\\ValueObject\\(.*)#'
		- '#Call to an undefined static method AdgoalCommon\\ValueObject\\(.*)#'
